*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

:root{ --main-color:rgba(214, 46, 51, 0.6); }

.navigationBar{
    background-color: #414658;
    width: 220px;
    font-size: 2rem;
    transition: all 1s;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: -22%;

} 
.headerCover a{
    transition:  0.25s;
}
.navigationBar i{
    transition: all 0.25s;
}
.headerCover a:hover{
    color: tomato !important;
}
.navigationBar i:hover{
    color: tomato !important;
}
/* ---------------------------------------------------- */
#home{
    height: 100vh;
    background-color: blue;
    background-image: url(../images/events-heavenly-header.jpg);
    background-size: 100% 100%;
    overflow: hidden;
   
    
}

.headerCover{
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0%;
    transition: all 0.5s;
}
#navIcon{
    font-size: 2.2rem;
    top: 70%;
    left:1.5rem;
    transition: all 1s;
}
.homeContent{
    transition: all 1s;
}
#home span{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 3.75rem;
}
.main-color{
    background-color:var(--main-color);
}

/* ----------------------------------------------------------- */
.detailsContent{
    background-color: #ccc;
    display: none; 
}
/*-------------------------------------------------------*/
.durationimg{
  background-image: url(../images/invitation-2508607__340.jpg);
  background-size: 100% 100%;
}
.durationContent{
    background-color: var(--main-color);

  width: 100%;
 
}

.durationData{
    border: white 0.1rem solid;
    border-radius: 0.1rem;
    height: 200px;
    width: 100%;
}


.icons-social i{
    margin-right: 10px;
    border: 1px solid #999;
    width: 40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}
.icons-social i:hover{
    background-color:#dc3545;
    color: white;
}

@media screen and (max-width:700px)  {


    .singers{
        width: 90% !important;
    }
    .detailsContent p{
        font-size: 1rem;
    }


}

